<!DOCTYPE html>
<html lang='pt-br'>

<head>
    <meta charset='UTF-8'>
    <link rel='stylesheet' href='publicos/css/custom_con.css'>
    <link rel='shortcut icon' href='publicos/imagens/favicon.ico'>
    <link rel='stylesheet' href='publicos/css/bootstrap/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css'
        integrity='sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=='
        crossorigin='anonymous' referrerpolicy='no-referrer' />
    <title>Promove</title>
</head>

<body>

    <div class="text-center top-conect col-12">
        <div class="row">
            <div class="col">
                <a href="#"><img src="publicos/imagens/p-sem-fundo.png"></a>
            </div>
        </div>
    </div>

    <div class="forms">
        <div class="form-subscribe col-3 col mt-5 form-desactived" id="div-form-subscribe">
            <form id="form-subscribe">
                <h2>Inscreva-se!</h2>
                <div class="icon_e_input">
                    <input type="text" class="input-form-desactived" id="cpf-subscribe" placeholder="XXX.XXX.XXX-XX"
                        disabled>
                </div>
                <div class="icon_e_input">
                    <input type="text" class="input-form-desactived" id="name-subscribe"
                        placeholder="Ex.: Lucas Vinicius dos Santos Silva" disabled>
                </div>

                <div class="input-submit" id="input-submit-sub">
                    <input type="submit" value="Avançar" class="go-form-subscribe input-prime" id="go-form-subscribe"
                        disabled> <input type="button" class="sub-input-submit" value="Possuo ACESSO!" id="yes-acess-subscribe" disabled>
                </div>
            </form>
        </div>

        <div class="form-conect col-5 mt-5 mb-5 col" id="div-form-conect">
            <form id="form-conect">
                <h2>Conecte-se!</h2>
                <div class="icon_e_input" id="icon_e_input_name">
                    <i class="fa-solid fa-user icons"></i>
                    <input type="text" class="input-form-conect mt-2 mb-2" id="name-form-conect"
                        placeholder="Ex.: Lucas Vinicius dos Santos Silva">
                </div>

                <div class="icon_e_input" id="icon_e_input_pass">
                    <i class="fa-solid fa-lock icons"></i>
                    <input type="password" class="input-form-conect-pass mt-2 mb-3" id="pass-form-conect"
                        placeholder="**************************">
                    <i class="fa-regular fa-eye eye-pass icon-pass" id="icon-pass"></i>
                </div>

                <div class="input-submit">
                    <input type="submit" class="input-prime" id="input-form-conect" value="Entrar">
                    <input type="button" id="forgot-form-conect" class="sub-input-submit" value="Esqueceu?"> <input type="button"
                        id="prime-access-form" class="sub-input-submit" value="Sou NOVO!">
                </div>
            </form>
        </div>

        <div class="form-recover col-3 col mt-5 form-desactived" id="div-form-recover">
            <form id="form-recover">
                <h2>Reconecte-se!</h2>
                <div class="icon_e_input">
                    <input type="text" class="input-form-desactived" placeholder="seu_nome@dominio.com"
                        id="input-email-recover" disabled>
                </div>

                <div class="input-submit">
                    <input type="submit" value="Enviar" class="input-prime" id="input-submit-recover" disabled> <input
                        type="button" class="a-recover-submit sub-input-submit" id="a-recover-submit" value="Lembrou?" disabled>
                </div>
            </form>
        </div>
    </div>

    <footer class="footer">
        <div class="footer-left">
            <h6 class="subscribe">Siga-nos em nossas <strong>REDES SOCIAIS</strong>!</h6>
            <div class="items-footer">Instagram <i class="fa-brands fa-instagram"></i> </div>
            <div class="items-footer">Facebook <i class="fa-brands fa-facebook"></i> </div>
            <div class="items-footer">Linkedin <i class="fa-brands fa-linkedin"></i> </div>
            <div class="items-footer">X <i class="fa-brands fa-x-twitter"></i> </div>
            <div class="items-footer">YouTube <i class="fa-brands fa-youtube"></i> </div>
        </div>
        <span class="copyright-footer">Copyright <i class="fa-regular fa-copyright"></i> 2025 - 2025<br>
            <strong>TODOS
                OS DIREITOS RESERVADOS.</strong></span>
    </footer>


    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js'
        integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM'
        crossorigin='anonymous'></script>
    <script src='publicos/js/custom_con.js'></script>
</body>

</html>